.features-wrapper {
  color: #240847;
  padding-top: 110px; }
  .features-wrapper .features-content {
    width: 1140px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .features-wrapper .features-content .features-content__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .features-wrapper .features-content .features-content__item .features-content__item-img-wrapper {
        min-height: 185px; }
        .features-wrapper .features-content .features-content__item .features-content__item-img-wrapper .features-content__item-img {
          height: 176px; }
      .features-wrapper .features-content .features-content__item .features-content__item-title {
        font-weight: bold;
        font-size: 25px;
        line-height: 40px;
        margin: 25px 0 10px; }
      .features-wrapper .features-content .features-content__item .features-content__item-caption {
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        opacity: 0.7; }
