@keyframes appearing-from-left-to-right {
  from {
    width: 0; } }

@keyframes appearing-main-content {
  0% {
    transform: translateX(-600px); }
  50% {
    transform: translateX(-600px); }
  100% {
    transform: translateX(0px); } }

@keyframes appearing-main-apllication {
  0% {
    transform: translateX(5000px); }
  100% {
    transform: translateX(0px); } }

@keyframes appearing-apllication-diagram-window {
  0% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  80% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  100% {
    padding: 15px;
    width: 156px;
    overflow: hidden; } }

@keyframes appearing-apllication-course-table-window {
  0% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  80% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  100% {
    padding: 15px;
    width: 220px;
    overflow: hidden; } }

.header-wrapper {
  padding-top: 30px; }
  .header-wrapper .header-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header-wrapper .header-content .header-nav {
      display: flex;
      align-items: center; }
      .header-wrapper .header-content .header-nav .header-nav__logo {
        margin-right: 76px; }
      .header-wrapper .header-content .header-nav .header-nav-wrapper {
        display: flex;
        align-items: center;
        width: 382px;
        justify-content: space-between; }
        .header-wrapper .header-content .header-nav .header-nav-wrapper .header-nav-wrapper__item {
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
          animation: appearing-from-left-to-right 8s ease-in-out; }
          .header-wrapper .header-content .header-nav .header-nav-wrapper .header-nav-wrapper__item a {
            color: #AD7ABF; }
            .header-wrapper .header-content .header-nav .header-nav-wrapper .header-nav-wrapper__item a:hover {
              color: #FFFFFF; }
    .header-wrapper .header-content .header-actions {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      animation: appearing-from-left-to-right 4s ease-in-out;
      display: flex;
      align-items: center;
      width: 285px;
      justify-content: space-between; }
      .header-wrapper .header-content .header-actions .header-actions__select {
        background-color: inherit;
        border: none;
        color: #FFFFFF;
        cursor: pointer; }
      .header-wrapper .header-content .header-actions .header-actions__button_login {
        background-color: inherit;
        border: none;
        color: #FFFFFF;
        cursor: pointer; }
      .header-wrapper .header-content .header-actions .header-actions__button_sign_up {
        background: #FFAE34;
        border-radius: 10px;
        color: #390052;
        padding: 12px 30px;
        cursor: pointer; }
