.header-wrapper {
  padding-top: 30px;
  background-color: #580F72; }
  .header-wrapper .header-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header-wrapper .header-content .header-nav {
      display: flex;
      align-items: center; }
      .header-wrapper .header-content .header-nav .header-nav__logo {
        margin-right: 76px; }
      .header-wrapper .header-content .header-nav .header-nav-wrapper {
        display: flex;
        align-items: center;
        width: 382px;
        justify-content: space-between; }
        .header-wrapper .header-content .header-nav .header-nav-wrapper .header-nav-wrapper__item a {
          color: #AD7ABF; }
          .header-wrapper .header-content .header-nav .header-nav-wrapper .header-nav-wrapper__item a:hover {
            color: #FFFFFF; }
    .header-wrapper .header-content .header-actions {
      display: flex;
      align-items: center;
      width: 285px;
      justify-content: space-between; }
      .header-wrapper .header-content .header-actions .header-actions__select {
        background-color: inherit;
        border: none;
        color: #FFFFFF;
        cursor: pointer; }
      .header-wrapper .header-content .header-actions .header-actions__button_login {
        background-color: inherit;
        border: none;
        color: #FFFFFF;
        cursor: pointer; }
      .header-wrapper .header-content .header-actions .header-actions__button_sign_up {
        background: #FFAE34;
        border-radius: 10px;
        color: #390052;
        padding: 12px 30px;
        cursor: pointer; }
