.main-wrapper {
  padding-top: 95px;
  background-color: #580F72; }
  .main-wrapper .main-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-wrapper .main-content .main-content-information {
      display: flex;
      flex-direction: column;
      width: 460px;
      color: #FFFFFF; }
      .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__title {
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 40px; }
      .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__title_highlight {
        color: #FFAE34; }
      .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__caption {
        line-height: 25px;
        margin-bottom: 40px; }
      .main-wrapper .main-content .main-content-information .main-content-information-payments {
        display: flex;
        justify-content: space-between;
        width: 290px; }
        .main-wrapper .main-content .main-content-information .main-content-information-payments .main-content__numbers {
          font-weight: bold;
          font-size: 50px;
          line-height: 60px;
          background: -webkit-linear-gradient(left, #FFAE34, #C65E0F);
          background: -o-linear-gradient(right, #FFAE34, #C65E0F);
          background: -moz-linear-gradient(right, #FFAE34, #C65E0F);
          background: linear-gradient(to right, #FFAE34, #C65E0F);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
    .main-wrapper .main-content .main-content-application {
      color: #FFFFFF; }
      .main-wrapper .main-content .main-content-application .application-wrapper {
        width: 605px;
        height: 425px;
        padding: 14px;
        background: #180234;
        border-radius: 23px; }
        .main-wrapper .main-content .main-content-application .application-wrapper .application-header {
          margin-bottom: 12px; }
        .main-wrapper .main-content .main-content-application .application-wrapper .application-content {
          display: flex;
          justify-content: space-between; }
          .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-diagram-wapper {
            width: 386px;
            height: 365px;
            background: #240847;
            border-radius: 10px; }
          .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper {
            width: 180px;
            height: 365px;
            background: #240847;
            border-radius: 10px; }
