@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.header-wrapper {
  padding-top: 30px;
  background-color: #580F72; }
  .header-wrapper .header-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header-wrapper .header-content .header-nav {
      display: flex;
      align-items: center; }
      .header-wrapper .header-content .header-nav .header-nav__logo {
        margin-right: 76px; }
      .header-wrapper .header-content .header-nav .header-nav-wrapper {
        display: flex;
        align-items: center;
        width: 382px;
        justify-content: space-between; }
        .header-wrapper .header-content .header-nav .header-nav-wrapper .header-nav-wrapper__item a {
          color: #AD7ABF; }
          .header-wrapper .header-content .header-nav .header-nav-wrapper .header-nav-wrapper__item a:hover {
            color: #FFFFFF; }
    .header-wrapper .header-content .header-actions {
      display: flex;
      align-items: center;
      width: 285px;
      justify-content: space-between; }
      .header-wrapper .header-content .header-actions .header-actions__select {
        background-color: inherit;
        border: none;
        color: #FFFFFF;
        cursor: pointer; }
      .header-wrapper .header-content .header-actions .header-actions__button_login {
        background-color: inherit;
        border: none;
        color: #FFFFFF;
        cursor: pointer; }
      .header-wrapper .header-content .header-actions .header-actions__button_sign_up {
        background: #FFAE34;
        border-radius: 10px;
        color: #390052;
        padding: 12px 30px;
        cursor: pointer; }

.main-wrapper {
  padding-top: 95px;
  background-color: #580F72; }
  .main-wrapper .main-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-wrapper .main-content .main-content-information {
      display: flex;
      flex-direction: column;
      width: 460px;
      color: #FFFFFF; }
      .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__title {
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 40px; }
      .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__title_highlight {
        color: #FFAE34; }
      .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__caption {
        line-height: 25px;
        margin-bottom: 40px; }
      .main-wrapper .main-content .main-content-information .main-content-information-payments {
        display: flex;
        justify-content: space-between;
        width: 290px; }
        .main-wrapper .main-content .main-content-information .main-content-information-payments .main-content__numbers {
          font-weight: bold;
          font-size: 50px;
          line-height: 60px;
          background: -webkit-linear-gradient(left, #FFAE34, #C65E0F);
          background: -o-linear-gradient(right, #FFAE34, #C65E0F);
          background: -moz-linear-gradient(right, #FFAE34, #C65E0F);
          background: linear-gradient(to right, #FFAE34, #C65E0F);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
    .main-wrapper .main-content .main-content-application {
      color: #FFFFFF; }
      .main-wrapper .main-content .main-content-application .application-wrapper {
        width: 605px;
        height: 425px;
        padding: 14px;
        background: #180234;
        border-radius: 23px; }
        .main-wrapper .main-content .main-content-application .application-wrapper .application-header {
          margin-bottom: 12px; }
        .main-wrapper .main-content .main-content-application .application-wrapper .application-content {
          display: flex;
          justify-content: space-between; }
          .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-diagram-wapper {
            width: 386px;
            height: 365px;
            background: #240847;
            border-radius: 10px; }
          .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper {
            width: 180px;
            height: 365px;
            background: #240847;
            border-radius: 10px; }

.top-markets-wrapper {
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-weight: 400; }
  .top-markets-wrapper .top-markets-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .top-markets-wrapper .top-markets-content .top-markets__title {
      font-weight: bold;
      font-size: 40px;
      line-height: 50px;
      color: #240847;
      text-align: center;
      width: 100%;
      margin-bottom: 50px; }
    .top-markets-wrapper .top-markets-content .top-markets-coin-info {
      display: flex;
      justify-content: space-between; }
      .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card {
        width: 360px;
        height: 420px;
        background-color: #240847;
        color: #FFFFFF;
        border-radius: 10px; }
        .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-header {
          padding: 30px 30px 0; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-header .coin-primary-card__number {
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            color: #FFFFFF;
            opacity: 0.3; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-header .coin-primary-card__img-logo {
            display: block;
            margin: 0 auto; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-header .coin-primary-card__full-name {
            font-weight: bold;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            margin-top: 15px; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-header .coin-primary-card__short-name {
            font-size: 20px;
            line-height: 25px;
            text-align: center; }
        .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-exchange {
          width: 100%;
          height: 50%;
          background-image: url("../../img/icons/big-curved-line.svg");
          background-repeat: no-repeat; }
      .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper {
        display: flex;
        flex-direction: column; }
        .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 750px;
          height: 90px;
          box-shadow: 0px 4px 50px rgba(191, 172, 206, 0.3);
          border-radius: 10px;
          margin-bottom: 20px;
          padding: 20px 30px;
          line-height: 25px; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card__number {
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #240847;
            opacity: 0.15; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card__full-name {
            color: #240847;
            font-weight: bold; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card__short-name {
            color: #B9C4D4; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card-exchange {
            font-weight: bold; }
            .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card-exchange .coin-card__bid {
              color: #580F72; }
              .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card-exchange .coin-card__bid .coin-card__bid-numbers {
                color: #240847; }
            .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card-exchange .coin-card__ask {
              color: #FFAE34; }
              .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card-exchange .coin-card__ask .coin-card__ask-numbers {
                color: #240847;
                font-weight: normal; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card__percents {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100px;
            height: 50px;
            padding: 15px 18px;
            color: #580F72;
            font-weight: bold;
            line-height: 20px;
            background: linear-gradient(115.36deg, rgba(248, 237, 255, 0.8) -12.33%, #FEFCFF 86.86%);
            border-radius: 10px; }
    .top-markets-wrapper .top-markets-content .top-markets-actions {
      text-align: center; }
      .top-markets-wrapper .top-markets-content .top-markets-actions .top-markets-actions__button-explore {
        background: #FFAE34;
        border-radius: 10px;
        color: #390052;
        padding: 12px 30px;
        cursor: pointer; }

.features-wrapper {
  background: #FEF9FF;
  color: #240847;
  padding: 65px 0 65px; }
  .features-wrapper .features-content {
    width: 1140px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .features-wrapper .features-content .features-content__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .features-wrapper .features-content .features-content__item .features-content__item-img-wrapper {
        min-height: 185px; }
        .features-wrapper .features-content .features-content__item .features-content__item-img-wrapper .features-content__item-img {
          height: 176px; }
      .features-wrapper .features-content .features-content__item .features-content__item-title {
        font-weight: bold;
        font-size: 25px;
        line-height: 40px;
        margin: 25px 0 10px; }
      .features-wrapper .features-content .features-content__item .features-content__item-caption {
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        opacity: 0.7; }

.sign-up-wrapper {
  background: #FEF9FF;
  color: #240847;
  padding: 70px 0 40px; }
  .sign-up-wrapper .sign-up-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .sign-up-wrapper .sign-up-content .sign-up-content__title {
      font-weight: bold;
      font-size: 40px;
      line-height: 55px;
      width: 455px; }
      .sign-up-wrapper .sign-up-content .sign-up-content__title .sign-up-content__title-highlighted {
        color: #FFAE34; }
    .sign-up-wrapper .sign-up-content .sign-up-window {
      width: 555px;
      height: 160px;
      padding: 55px;
      background-color: #240847;
      border-radius: 20px; }
      .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form {
        display: flex;
        justify-content: space-between; }
        .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form .sign-up-window-form__input {
          width: 280px;
          height: 50px;
          font-size: 15px;
          line-height: 20px;
          color: #FFFFFF;
          font-weight: normal;
          opacity: 0.7;
          border: 1px solid #FFFFFF;
          padding: 16px 25px;
          box-sizing: border-box;
          border-radius: 10px;
          background-color: inherit; }
          .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form .sign-up-window-form__input::placeholder {
            color: #FFFFFF; }
        .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form input:-webkit-autofill {
          -webkit-text-fill-color: #FFFFFF !important;
          -webkit-box-shadow: 0 0 0 30px #240847 inset !important; }
        .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form .sign-up-window-form__button {
          background: #FFAE34;
          border-radius: 10px;
          color: #390052;
          padding: 12px 30px;
          cursor: pointer;
          padding: 16px 40px; }

.footer-wrapper {
  background: #580F72;
  padding: 60px 0 20px;
  color: #FFFFFF; }
  .footer-wrapper .footer-content {
    width: 1140px;
    margin: 0 auto; }
    .footer-wrapper .footer-content .footer-content-items-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      line-height: 30px; }
      .footer-wrapper .footer-content .footer-content-items-wrapper .footer-content-item .footer-content-item__header {
        font-size: 20px;
        margin-bottom: 10px; }
      .footer-wrapper .footer-content .footer-content-items-wrapper .footer-content-item .footer-content-item__links-wrapper .footer-content-item__text-links-list {
        opacity: 0.5; }
      .footer-wrapper .footer-content .footer-content-items-wrapper .footer-content-item .footer-content-item__links-wrapper .footer-content-item__icons-wrapper {
        display: flex;
        flex-direction: row; }
        .footer-wrapper .footer-content .footer-content-items-wrapper .footer-content-item .footer-content-item__links-wrapper .footer-content-item__icons-wrapper li {
          margin-right: 10px; }
    .footer-wrapper .footer-content .footer-legal-rights__paragraph {
      font-size: 12px;
      line-height: 25px;
      color: #FFFFFF;
      opacity: 0.3;
      margin-top: 20px; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Epilogue', Arial, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 15px; }

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

a {
  color: inherit;
  text-decoration: none; }

button, input {
  border-width: 0px; }
  button:focus, input:focus {
    outline: none; }

select:focus {
  outline: none; }
