@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.header-wrapper {
  padding-top: 30px;
  background-color: #580F72; }
  .header-wrapper .header-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header-wrapper .header-content .header-nav {
      display: flex;
      align-items: center; }
      .header-wrapper .header-content .header-nav .header-nav__logo {
        margin-right: 76px; }
      .header-wrapper .header-content .header-nav .header-nav-wrapper {
        display: flex;
        align-items: center;
        width: 382px;
        justify-content: space-between; }
        .header-wrapper .header-content .header-nav .header-nav-wrapper .header-nav-wrapper__item a {
          color: #AD7ABF; }
          .header-wrapper .header-content .header-nav .header-nav-wrapper .header-nav-wrapper__item a:hover {
            color: #FFFFFF; }
    .header-wrapper .header-content .header-actions {
      display: flex;
      align-items: center;
      width: 285px;
      justify-content: space-between; }
      .header-wrapper .header-content .header-actions .header-actions__select {
        background-color: inherit;
        border: none;
        color: #FFFFFF;
        cursor: pointer; }
      .header-wrapper .header-content .header-actions .header-actions__button_login {
        background-color: inherit;
        border: none;
        color: #FFFFFF;
        cursor: pointer; }
      .header-wrapper .header-content .header-actions .header-actions__button_sign_up {
        background: #FFAE34;
        border-radius: 10px;
        color: #390052;
        padding: 10px 30px;
        cursor: pointer; }

.main-wrapper {
  padding-top: 95px;
  background-color: #580F72; }
  .main-wrapper .main-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-wrapper .main-content .main-content-information {
      display: flex;
      flex-direction: column;
      width: 460px;
      color: #FFFFFF; }
      .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__title {
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 40px; }
      .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__title_highlight {
        color: #FFAE34; }
      .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__caption {
        line-height: 25px;
        margin-bottom: 40px; }
      .main-wrapper .main-content .main-content-information .main-content-information-payments {
        display: flex;
        justify-content: space-between;
        width: 290px; }
        .main-wrapper .main-content .main-content-information .main-content-information-payments .main-content__numbers {
          font-weight: bold;
          font-size: 50px;
          line-height: 60px;
          background: -webkit-linear-gradient(left, #FFAE34, #C65E0F);
          background: -o-linear-gradient(right, #FFAE34, #C65E0F);
          background: -moz-linear-gradient(right, #FFAE34, #C65E0F);
          background: linear-gradient(to right, #FFAE34, #C65E0F);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
    .main-wrapper .main-content .main-content-application {
      color: #FFFFFF; }
      .main-wrapper .main-content .main-content-application .application-wrapper {
        width: 605px;
        height: 425px;
        padding: 14px;
        background: #180234;
        border-radius: 23px; }
        .main-wrapper .main-content .main-content-application .application-wrapper .application-header {
          margin-bottom: 12px; }
        .main-wrapper .main-content .main-content-application .application-wrapper .application-content {
          display: flex;
          justify-content: space-between; }
          .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-diagram-wapper {
            width: 386px;
            height: 365px;
            background: #240847;
            border-radius: 10px; }
          .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper {
            width: 180px;
            height: 365px;
            background: #240847;
            border-radius: 10px; }

.top-markets-wrapper .top-markets-content {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .top-markets-wrapper .top-markets-content .top-markets__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #240847;
    text-align: center;
    width: 100%; }
  .top-markets-wrapper .top-markets-content .top-markets-coin-info {
    display: flex;
    justify-content: space-between; }
    .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper {
      display: flex;
      flex-direction: column; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Epilogue', Arial, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 15px; }

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

a {
  text-decoration: none; }

button {
  border-width: 0px; }
  button:focus {
    outline: none; }

select:focus {
  outline: none; }
