@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@keyframes appearing-from-left-to-right {
  from {
    width: 0; } }

@keyframes appearing-main-content {
  0% {
    transform: translateX(-600px); }
  50% {
    transform: translateX(-600px); }
  100% {
    transform: translateX(0px); } }

@keyframes appearing-main-apllication {
  0% {
    transform: translateX(5000px); }
  100% {
    transform: translateX(0px); } }

@keyframes appearing-apllication-diagram-window {
  0% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  80% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  100% {
    padding: 15px;
    width: 156px;
    overflow: hidden; } }

@keyframes appearing-apllication-course-table-window {
  0% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  80% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  100% {
    padding: 15px;
    width: 220px;
    overflow: hidden; } }

@keyframes appearing-from-left-to-right {
  from {
    width: 0; } }

@keyframes appearing-main-content {
  0% {
    transform: translateX(-600px); }
  50% {
    transform: translateX(-600px); }
  100% {
    transform: translateX(0px); } }

@keyframes appearing-main-apllication {
  0% {
    transform: translateX(5000px); }
  100% {
    transform: translateX(0px); } }

@keyframes appearing-apllication-diagram-window {
  0% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  80% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  100% {
    padding: 15px;
    width: 156px;
    overflow: hidden; } }

@keyframes appearing-apllication-course-table-window {
  0% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  80% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  100% {
    padding: 15px;
    width: 220px;
    overflow: hidden; } }

.header-wrapper {
  padding-top: 30px; }
  @media (max-width: 599px) {
    .header-wrapper {
      padding-top: 20px; } }
  .header-wrapper .header-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 599px) {
      .header-wrapper .header-content {
        width: 90vw; } }
    .header-wrapper .header-content .header-nav {
      display: flex;
      align-items: center; }
      @media (max-width: 599px) {
        .header-wrapper .header-content .header-nav {
          justify-content: space-between;
          width: 100%; } }
      .header-wrapper .header-content .header-nav .header-nav__logo {
        margin-right: 76px; }
      .header-wrapper .header-content .header-nav .header-nav-wrapper {
        display: flex;
        align-items: center;
        width: 382px;
        justify-content: space-between; }
        @media (max-width: 599px) {
          .header-wrapper .header-content .header-nav .header-nav-wrapper {
            display: none; } }
        .header-wrapper .header-content .header-nav .header-nav-wrapper .header-nav-wrapper__item {
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
          animation: appearing-from-left-to-right 8s ease-in-out; }
          .header-wrapper .header-content .header-nav .header-nav-wrapper .header-nav-wrapper__item a {
            color: #AD7ABF; }
            .header-wrapper .header-content .header-nav .header-nav-wrapper .header-nav-wrapper__item a:hover {
              color: #FFFFFF; }
      .header-wrapper .header-content .header-nav .header-mobile-nav-wrapper {
        display: none;
        cursor: pointer; }
        @media (max-width: 599px) {
          .header-wrapper .header-content .header-nav .header-mobile-nav-wrapper {
            display: block; } }
    .header-wrapper .header-content .header-actions {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      animation: appearing-from-left-to-right 4s ease-in-out;
      display: flex;
      align-items: center;
      width: 285px;
      justify-content: space-between; }
      @media (max-width: 599px) {
        .header-wrapper .header-content .header-actions {
          display: none; } }
      .header-wrapper .header-content .header-actions .header-actions__select {
        background-color: inherit;
        border: none;
        color: #FFFFFF;
        cursor: pointer; }
      .header-wrapper .header-content .header-actions .header-actions__button_login {
        background-color: inherit;
        border: none;
        color: #FFFFFF;
        cursor: pointer; }
      .header-wrapper .header-content .header-actions .header-actions__button_sign_up {
        background: #FFAE34;
        border-radius: 10px;
        color: #390052;
        padding: 12px 30px;
        cursor: pointer; }

@keyframes appearing-from-left-to-right {
  from {
    width: 0; } }

@keyframes appearing-main-content {
  0% {
    transform: translateX(-600px); }
  50% {
    transform: translateX(-600px); }
  100% {
    transform: translateX(0px); } }

@keyframes appearing-main-apllication {
  0% {
    transform: translateX(5000px); }
  100% {
    transform: translateX(0px); } }

@keyframes appearing-apllication-diagram-window {
  0% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  80% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  100% {
    padding: 15px;
    width: 156px;
    overflow: hidden; } }

@keyframes appearing-apllication-course-table-window {
  0% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  80% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  100% {
    padding: 15px;
    width: 220px;
    overflow: hidden; } }

.main-wrapper {
  padding: 95px 0 30px; }
  @media (max-width: 599px) {
    .main-wrapper {
      padding: 38px 0; } }
  .main-wrapper .main-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between; }
    @media (max-width: 599px) {
      .main-wrapper .main-content {
        width: 90vw;
        flex-direction: column; } }
    .main-wrapper .main-content .main-content-information {
      display: flex;
      flex-direction: column;
      width: 400px;
      color: #FFFFFF;
      animation: appearing-main-content 4s ease-out; }
      @media (max-width: 599px) {
        .main-wrapper .main-content .main-content-information {
          width: 100%;
          flex-direction: column;
          margin-bottom: 30px; } }
      .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__title {
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 40px; }
        @media (max-width: 599px) {
          .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__title {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 15px; } }
      .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__title_highlight {
        color: #FFAE34; }
      .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__caption {
        line-height: 25px;
        margin-bottom: 40px; }
        @media (max-width: 599px) {
          .main-wrapper .main-content .main-content-information .main-content-information-text .main-content-information__caption {
            margin-bottom: 20px; } }
      .main-wrapper .main-content .main-content-information .main-content-information-payments {
        display: flex;
        justify-content: space-between;
        width: 290px; }
        @media (max-width: 599px) {
          .main-wrapper .main-content .main-content-information .main-content-information-payments {
            width: 66vw;
            align-items: center; } }
        .main-wrapper .main-content .main-content-information .main-content-information-payments .main-content__numbers {
          font-weight: bold;
          font-size: 50px;
          line-height: 60px;
          background: -webkit-linear-gradient(left, #FFAE34, #C65E0F);
          background: -o-linear-gradient(right, #FFAE34, #C65E0F);
          background: -moz-linear-gradient(right, #FFAE34, #C65E0F);
          background: linear-gradient(to right, #FFAE34, #C65E0F);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
          @media (max-width: 599px) {
            .main-wrapper .main-content .main-content-information .main-content-information-payments .main-content__numbers {
              font-size: 30px;
              line-height: 40px; } }
    .main-wrapper .main-content .main-content-application {
      font-family: 'Open Sans', Arial, Tahoma, sans-serif;
      font-weight: 400;
      color: #FFFFFF;
      z-index: 1000;
      position: relative;
      transition: transform .8s ease-in-out;
      animation: appearing-main-apllication 4s ease-in-out; }
      .main-wrapper .main-content .main-content-application:hover {
        transform: scale(1.2); }
      .main-wrapper .main-content .main-content-application .application-wrapper {
        width: 605px;
        height: 425px;
        padding: 14px;
        background: #180234;
        border-radius: 23px; }
        @media (max-width: 599px) {
          .main-wrapper .main-content .main-content-application .application-wrapper {
            width: 250px;
            height: 360px;
            border-radius: 12px;
            padding: 0px; } }
        .main-wrapper .main-content .main-content-application .application-wrapper .application-header {
          margin-bottom: 12px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 544px; }
          @media (max-width: 599px) {
            .main-wrapper .main-content .main-content-application .application-wrapper .application-header {
              flex-wrap: wrap;
              width: 100%;
              padding: 12px; } }
          .main-wrapper .main-content .main-content-application .application-wrapper .application-header .application-header__crypto-name-wrapper {
            background-color: #4C2976;
            border-radius: 4px;
            font-weight: bold;
            font-size: 10px;
            line-height: 14px;
            padding: 5px 10px; }
            .main-wrapper .main-content .main-content-application .application-wrapper .application-header .application-header__crypto-name-wrapper .application-header__crypto-name {
              margin-left: 8px; }
          .main-wrapper .main-content .main-content-application .application-wrapper .application-header .application-header__item {
            color: #FFFFFF;
            font-size: 9px;
            line-height: 14px; }
            .main-wrapper .main-content .main-content-application .application-wrapper .application-header .application-header__item .application-header__item-title {
              opacity: 0.5; }
            .main-wrapper .main-content .main-content-application .application-wrapper .application-header .application-header__item .application-header__item-content {
              font-weight: bold; }
              .main-wrapper .main-content .main-content-application .application-wrapper .application-header .application-header__item .application-header__item-content .application-header__item-content_gold {
                color: #C65E0F;
                font-weight: normal; }
              .main-wrapper .main-content .main-content-application .application-wrapper .application-header .application-header__item .application-header__item-content .application-header__item-content_green {
                color: #58BA74;
                font-weight: normal; }
        .main-wrapper .main-content .main-content-application .application-wrapper .application-content {
          display: flex;
          justify-content: space-between; }
          .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-diagram-wapper {
            width: 386px;
            height: 357px;
            background: #240847;
            border-radius: 10px;
            padding: 10px; }
            @media (max-width: 599px) {
              .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-diagram-wapper {
                width: 100%;
                height: 225px;
                border-radius: 12px;
                padding: 12px; } }
            .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-diagram-wapper .application-diagram-title {
              display: flex;
              align-items: center;
              justify-content: space-between; }
              .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-diagram-wapper .application-diagram-title .application-diagram-title-menu {
                display: flex; }
                .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-diagram-wapper .application-diagram-title .application-diagram-title-menu .application-diagram-title-menu__item {
                  font-size: 8px;
                  color: #FFFFFF;
                  opacity: 0.5;
                  margin-right: 11px;
                  width: 18px;
                  text-align: center; }
                  @media (max-width: 599px) {
                    .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-diagram-wapper .application-diagram-title .application-diagram-title-menu .application-diagram-title-menu__item {
                      margin-right: 3px; } }
                .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-diagram-wapper .application-diagram-title .application-diagram-title-menu .application-diagram-title-menu__item_highlight {
                  opacity: 1;
                  font-weight: bold; }
                .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-diagram-wapper .application-diagram-title .application-diagram-title-menu .application-diagram-title-menu__item_gold-border {
                  border-bottom: 1px solid #FFAE34; }
                .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-diagram-wapper .application-diagram-title .application-diagram-title-menu .application-diagram-title-menu__item_green-border {
                  border-bottom: 1px solid #58BA74; }
          .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper {
            width: 180px;
            height: 357px;
            padding: 10px;
            font-size: 8px;
            background: #240847;
            border-radius: 10px; }
            @media (max-width: 599px) {
              .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper {
                display: none; } }
            .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions__title {
              font-weight: 600;
              line-height: 14px;
              margin-bottom: 11px; }
            .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-tabs {
              display: flex;
              justify-content: space-between;
              margin-bottom: 11px; }
              .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-tabs .application-actions-tabs__item {
                color: #FFFFFF;
                width: 50%;
                font-size: 11px;
                line-height: 14px;
                text-align: center;
                padding-bottom: 5px;
                border-bottom: 1px solid #4C2976; }
              .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-tabs .application-actions-tabs__item_highlight {
                font-weight: bold;
                border-bottom: 1px solid #FFAE34; }
            .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-market-bar {
              display: flex;
              justify-content: space-between;
              margin-bottom: 11px;
              background-color: #4C2976;
              border-radius: 4px; }
              .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-market-bar .application-actions-market-bar__item {
                color: #FFFFFF;
                width: 50%;
                line-height: 14px;
                text-align: center;
                padding: 3px 0;
                background-color: #4C2976;
                border-radius: 4px; }
              .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-market-bar .application-actions-market-bar__item_highlight {
                color: #240847;
                background-color: #FFAE34;
                box-shadow: 0px 0px 6.33887px rgba(248, 193, 49, 0.5); }
            .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-quantity-input {
              display: flex;
              justify-content: space-between;
              background-color: #4C2976;
              border-radius: 4px;
              margin-bottom: 11px;
              padding: 3px 8px; }
              .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-quantity-input .application-actions-quantity-input-content {
                text-align: center; }
                .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-quantity-input .application-actions-quantity-input-content .application-actions-quantity-input__title {
                  font-size: 7px;
                  opacity: 0.5; }
                .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-quantity-input .application-actions-quantity-input-content .application-actions-quantity-input__value {
                  font-weight: bold;
                  font-size: 11px;
                  line-height: 14px; }
              .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-quantity-input .application-actions-quantity-input__button {
                font-size: 14px; }
            .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-range-bar {
              width: 100%;
              height: 3px;
              margin: 3px 0 17px;
              background-color: #4C2976;
              display: flex;
              justify-content: space-between;
              align-items: center; }
              .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-range-bar .application-actions-range-bar__item {
                width: 3px;
                height: 7px;
                background: #FFFFFF;
                border-radius: 5px; }
              .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-range-bar .application-actions-range-bar__item_selected {
                width: 10px;
                height: 10px;
                background: #FFAE34;
                box-shadow: 0px 0px 6.33887px rgba(248, 193, 49, 0.5);
                border-radius: 5px;
                cursor: pointer; }
            .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-available-sum {
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-bottom: 4px; }
              .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-available-sum .application-actions-available-sum__label {
                opacity: 0.5; }
            .main-wrapper .main-content .main-content-application .application-wrapper .application-content .application-actions-wrapper .application-actions-submit__button {
              display: block;
              width: 100%;
              background-color: #58BA74;
              border-radius: 4px;
              padding: 7px 0;
              text-align: center;
              font-weight: bold;
              font-size: 11px;
              line-height: 14px; }
      .main-wrapper .main-content .main-content-application .application-course-diagram-window {
        width: 156px;
        height: 110px;
        position: absolute;
        left: -78px;
        top: 125px;
        background: #2F0B5C;
        border-radius: 20px;
        padding: 15px;
        animation: appearing-apllication-diagram-window 5s linear; }
        @media (max-width: 599px) {
          .main-wrapper .main-content .main-content-application .application-course-diagram-window {
            width: 93px;
            height: 100px;
            left: 0px;
            top: 125px; }
            .main-wrapper .main-content .main-content-application .application-course-diagram-window img {
              width: 93px; } }
        .main-wrapper .main-content .main-content-application .application-course-diagram-window .application-course-diagram-window__title {
          margin-bottom: 5px; }
        .main-wrapper .main-content .main-content-application .application-course-diagram-window .application-course-diagram-window-content {
          display: flex;
          justify-content: space-between;
          font-size: 12px; }
          .main-wrapper .main-content .main-content-application .application-course-diagram-window .application-course-diagram-window-content .application-course-diagram-window-numbers .application-course-diagram-window__percents {
            color: #58BA74;
            margin-bottom: 3px; }
          .main-wrapper .main-content .main-content-application .application-course-diagram-window .application-course-diagram-window-content .application-course-diagram-window__time {
            color: #AD7ABF;
            opacity: 0.8; }
        .main-wrapper .main-content .main-content-application .application-course-diagram-window .application-course-diagram-window-graphic-wrapper {
          position: absolute;
          left: 0;
          bottom: 0; }
      .main-wrapper .main-content .main-content-application .application-course-table-window {
        width: 220px;
        height: 110px;
        position: absolute;
        left: 270px;
        bottom: -40px;
        background: #2F0B5C;
        border-radius: 20px;
        padding: 15px;
        animation: appearing-apllication-course-table-window 5s linear; }
        @media (max-width: 599px) {
          .main-wrapper .main-content .main-content-application .application-course-table-window {
            display: none; } }
        .main-wrapper .main-content .main-content-application .application-course-table-window .application-course-table-window__title {
          font-size: 10px;
          margin-bottom: 10px; }
        .main-wrapper .main-content .main-content-application .application-course-table-window .application-course-table-window-content {
          font-size: 9px; }
          .main-wrapper .main-content .main-content-application .application-course-table-window .application-course-table-window-content .application-course-table-window-header {
            display: flex;
            justify-content: space-between;
            color: #AD7ABF;
            opacity: 0.8;
            margin-bottom: 12px; }
          .main-wrapper .main-content .main-content-application .application-course-table-window .application-course-table-window-content .application-course-table-window-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 9px; }
            .main-wrapper .main-content .main-content-application .application-course-table-window .application-course-table-window-content .application-course-table-window-row .application-course-table-window-row__item_green {
              color: #58BA74; }
            .main-wrapper .main-content .main-content-application .application-course-table-window .application-course-table-window-content .application-course-table-window-row .application-course-table-window-row__item_red {
              color: #FF6767; }

@keyframes appearing-from-left-to-right {
  from {
    width: 0; } }

@keyframes appearing-main-content {
  0% {
    transform: translateX(-600px); }
  50% {
    transform: translateX(-600px); }
  100% {
    transform: translateX(0px); } }

@keyframes appearing-main-apllication {
  0% {
    transform: translateX(5000px); }
  100% {
    transform: translateX(0px); } }

@keyframes appearing-apllication-diagram-window {
  0% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  80% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  100% {
    padding: 15px;
    width: 156px;
    overflow: hidden; } }

@keyframes appearing-apllication-course-table-window {
  0% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  80% {
    padding: 0;
    width: 0;
    overflow: hidden; }
  100% {
    padding: 15px;
    width: 220px;
    overflow: hidden; } }

.top-markets-wrapper {
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-weight: 400;
  padding: 120px 0 30px; }
  .top-markets-wrapper .top-markets-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    @media (max-width: 599px) {
      .top-markets-wrapper .top-markets-content {
        width: 90vw; } }
    .top-markets-wrapper .top-markets-content .top-markets__title {
      font-weight: bold;
      font-size: 40px;
      line-height: 50px;
      color: #240847;
      text-align: center;
      width: 100%;
      margin-bottom: 50px; }
      .top-markets-wrapper .top-markets-content .top-markets__title .top-markets__title-text {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        animation: appearing-from-left-to-right 8s ease-in-out; }
    .top-markets-wrapper .top-markets-content .top-markets-coin-info {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 599px) {
        .top-markets-wrapper .top-markets-content .top-markets-coin-info {
          flex-direction: column; } }
      .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card {
        width: 360px;
        height: 420px;
        background-color: #240847;
        color: #FFFFFF;
        border-radius: 10px;
        transition: all .8s ease-in-out; }
        .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card:hover {
          transform: scale(1.1); }
        @media (max-width: 599px) {
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card {
            width: 100%;
            margin-bottom: 40px; } }
        .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-header {
          height: 40%;
          padding: 30px 30px 0; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-header .coin-primary-card__number {
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            color: #FFFFFF;
            opacity: 0.3; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-header .coin-primary-card__img-logo {
            display: block;
            margin: 0 auto; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-header .coin-primary-card__full-name {
            font-weight: bold;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            margin-top: 15px; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-header .coin-primary-card__short-name {
            font-size: 20px;
            line-height: 25px;
            text-align: center; }
        .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-exchange-wrapper {
          width: 100%;
          height: 60%;
          background-image: url("../../img/icons/big-curved-line.svg");
          background-repeat: no-repeat;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 0 40px 40px;
          font-size: 20px; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-exchange-wrapper .coin-primary-card-exchange-course .coin-primary-card__bid {
            font-weight: bold;
            margin-bottom: 10px; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-primary-card .coin-primary-card-exchange-wrapper .coin-primary-card-exchange-percent {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 110px;
            height: 50px;
            padding: 14px 14px;
            font-weight: bold;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 10px; }
      .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper {
        display: flex;
        flex-direction: column; }
        .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 750px;
          height: 90px;
          box-shadow: 0px 4px 50px rgba(191, 172, 206, 0.3);
          border-radius: 10px;
          margin-bottom: 20px;
          padding: 20px 30px;
          line-height: 25px;
          transition: all .2s ease-in-out; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card:hover {
            transform: scale(1.03); }
          @media (max-width: 599px) {
            .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card {
              width: 90vw;
              flex-direction: column;
              overflow: hidden; } }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card__number {
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #240847;
            opacity: 0.15; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card__full-name {
            color: #240847;
            font-weight: bold; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card__short-name {
            color: #B9C4D4; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card-exchange {
            font-weight: bold; }
            .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card-exchange .coin-card__bid {
              color: #580F72; }
              .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card-exchange .coin-card__bid .coin-card__bid-numbers {
                color: #240847; }
            .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card-exchange .coin-card__ask {
              color: #FFAE34; }
              .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card-exchange .coin-card__ask .coin-card__ask-numbers {
                color: #240847;
                font-weight: normal; }
          .top-markets-wrapper .top-markets-content .top-markets-coin-info .coin-card-list-wrapper .coin-card .coin-card__percents {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100px;
            height: 50px;
            padding: 15px 18px;
            color: #580F72;
            font-weight: bold;
            line-height: 20px;
            background: linear-gradient(115.36deg, rgba(248, 237, 255, 0.8) -12.33%, #FEFCFF 86.86%);
            border-radius: 10px; }
    .top-markets-wrapper .top-markets-content .top-markets-actions {
      margin-top: 15px;
      text-align: center; }
      .top-markets-wrapper .top-markets-content .top-markets-actions .top-markets-actions__button-explore {
        background: #FFAE34;
        border-radius: 10px;
        color: #390052;
        padding: 12px 30px;
        cursor: pointer; }

.features-wrapper {
  color: #240847;
  padding-top: 110px; }
  .features-wrapper .features-content {
    width: 1140px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media (max-width: 599px) {
      .features-wrapper .features-content {
        width: 90vw;
        flex-direction: column; } }
    .features-wrapper .features-content .features-content__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      @media (max-width: 599px) {
        .features-wrapper .features-content .features-content__item {
          margin-bottom: 30px; } }
      .features-wrapper .features-content .features-content__item .features-content__item-img-wrapper {
        min-height: 185px; }
        .features-wrapper .features-content .features-content__item .features-content__item-img-wrapper .features-content__item-img {
          height: 176px; }
      .features-wrapper .features-content .features-content__item .features-content__item-title {
        font-weight: bold;
        font-size: 25px;
        line-height: 40px;
        margin: 25px 0 10px; }
      .features-wrapper .features-content .features-content__item .features-content__item-caption {
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        opacity: 0.7; }

.sign-up-wrapper {
  color: #240847;
  margin: 110px 0 0;
  position: relative;
  top: 20px; }
  @media (max-width: 599px) {
    .sign-up-wrapper {
      margin: 30px 0 0; } }
  .sign-up-wrapper .sign-up-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 599px) {
      .sign-up-wrapper .sign-up-content {
        width: 90vw;
        flex-direction: column; } }
    .sign-up-wrapper .sign-up-content .sign-up-content__title {
      font-weight: bold;
      font-size: 40px;
      line-height: 55px;
      width: 455px; }
      .sign-up-wrapper .sign-up-content .sign-up-content__title .sign-up-content__title-highlighted {
        color: #FFAE34; }
      @media (max-width: 599px) {
        .sign-up-wrapper .sign-up-content .sign-up-content__title {
          font-size: 20px;
          line-height: 30px;
          width: 100%;
          text-align: center; } }
    .sign-up-wrapper .sign-up-content .sign-up-window {
      width: 555px;
      height: 160px;
      padding: 55px;
      background-color: #240847;
      border-radius: 20px; }
      @media (max-width: 599px) {
        .sign-up-wrapper .sign-up-content .sign-up-window {
          width: 100%;
          height: 100%;
          padding: 15px; } }
      .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form {
        display: flex;
        justify-content: space-between; }
        @media (max-width: 599px) {
          .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form {
            flex-direction: column;
            align-items: center; } }
        .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form .sign-up-window-form__input {
          width: 280px;
          height: 50px;
          font-size: 15px;
          line-height: 20px;
          color: #FFFFFF;
          font-weight: normal;
          opacity: 0.7;
          border: 1px solid #FFFFFF;
          padding: 16px 25px;
          box-sizing: border-box;
          border-radius: 10px;
          background-color: inherit; }
          .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form .sign-up-window-form__input::placeholder {
            color: #FFFFFF; }
          @media (max-width: 599px) {
            .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form .sign-up-window-form__input {
              width: 100%;
              margin-bottom: 20px; } }
        .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form input:-webkit-autofill {
          -webkit-text-fill-color: #FFFFFF !important;
          -webkit-box-shadow: 0 0 0 30px #240847 inset !important; }
        .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form .sign-up-window-form__button {
          background: #FFAE34;
          border-radius: 10px;
          color: #390052;
          padding: 12px 30px;
          cursor: pointer;
          padding: 16px 40px; }
          @media (max-width: 599px) {
            .sign-up-wrapper .sign-up-content .sign-up-window .sign-up-window-form .sign-up-window-form__button {
              width: 50%;
              padding: 12px; } }

.footer-wrapper {
  margin-top: 100px;
  padding: 40px 0 20px;
  color: #FFFFFF; }
  .footer-wrapper .footer-content {
    width: 1140px;
    margin: 0 auto; }
    @media (max-width: 599px) {
      .footer-wrapper .footer-content {
        width: 90vw; } }
    .footer-wrapper .footer-content .footer-content-items-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      line-height: 30px; }
      @media (max-width: 599px) {
        .footer-wrapper .footer-content .footer-content-items-wrapper {
          flex-direction: column; } }
      .footer-wrapper .footer-content .footer-content-items-wrapper .footer-content-item .footer-content-item__header {
        font-size: 20px;
        margin-bottom: 10px; }
      .footer-wrapper .footer-content .footer-content-items-wrapper .footer-content-item .footer-content-item__links-wrapper .footer-content-item__text-links-list {
        opacity: 0.5; }
      .footer-wrapper .footer-content .footer-content-items-wrapper .footer-content-item .footer-content-item__links-wrapper .footer-content-item__icons-wrapper {
        display: flex;
        flex-direction: row; }
        .footer-wrapper .footer-content .footer-content-items-wrapper .footer-content-item .footer-content-item__links-wrapper .footer-content-item__icons-wrapper li {
          margin-right: 10px; }
    .footer-wrapper .footer-content .footer-legal-rights__paragraph {
      font-size: 12px;
      line-height: 25px;
      color: #FFFFFF;
      opacity: 0.3;
      margin-top: 20px; }

.diagonal-box-wrapper {
  position: relative; }

.diagonal-box-wrapper_overflow {
  overflow: hidden; }

.diagonal-box-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewy(-10deg);
  transform-origin: 50% 0;
  outline: 1px solid transparent;
  backface-visibility: hidden; }

.diagonal-box-content {
  max-width: 100vw;
  position: relative; }

.bg-skew-white:before {
  background: #FFFFFF; }

.bg-skew-magnolia:before {
  background: #FEF9FF; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Epilogue', Arial, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: #580F72;
  overflow-x: hidden; }

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

a {
  color: inherit;
  text-decoration: none; }

button, input {
  border-width: 0px;
  background-color: inherit; }
  button:focus, input:focus {
    outline: none; }

button {
  color: inherit;
  cursor: pointer; }

select:focus {
  outline: none; }
