// --- Colors --- //
$color-white: #FFFFFF;

$color-purple-light: #AD7ABF;
$color-purple-light-200: #4C2976;
$color-purple-medium: #580F72;
$color-purple-medium-100: #2F0B5C;
$color-purple-dark: #390052;

$color-gold: #FFAE34;
$color-gold-dark: #C65E0F;

$color-midnightblue-100: #180234;
$color-midnightblue-200: #240847;

$color-grey: #B9C4D4;

$color-light-magnolia: #FEF9FF;

$color-green: #58BA74;

$color-red: #FF6767;

// --- /Colors --- //

// --- Sizes --- //
$width: 100vw;
$full-width: 100vw;
$content-width: 1140px;

// --- /Sizes --- //