
$color-white: #FFFFFF;

$color-purple-light: #AD7ABF;
$color-purple-medium: #580F72;
$color-purple-dark: #390052;

$color_gold: #FFAE34;
$color_gold_dark: #C65E0F;

$color_midnightblue-100: #180234;
$color_midnightblue-200: #240847;

$color_grey: #B9C4D4;