@import "./constants.scss";

@mixin Epilogue-font {
    font-family: 'Epilogue', Arial, Tahoma, sans-serif;
    font-weight: 400;
}

@mixin Open-Sans-font {
    font-family: 'Open Sans', Arial, Tahoma, sans-serif;
    font-weight: 400;
}

@mixin primary-button {
    background: $color-gold;
    border-radius: 10px;
    color: $color-purple-dark;
    padding: 12px 30px;
    cursor: pointer;
}

@mixin appearing-from-left-to-right-animation($duration, $timing-function) {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: appearing-from-left-to-right $duration $timing-function;
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
