@import "../constants.scss";
@import "../mixins.scss";

.header-wrapper {
	padding-top: 30px;

	.header-content {
		width: $content-width;
		margin: 0 auto;
		display: flex;
		align-items: center;
	
		justify-content: space-between;

		.header-nav {
			display: flex;
			align-items: center;

			.header-nav__logo {
				margin-right: 76px;
			}
	
			.header-nav-wrapper {
				display: flex;
				align-items: center;
				width: 382px;
				justify-content: space-between;
	
				.header-nav-wrapper__item {
	
					a {
						color: $color-purple-light;
	
						&:hover {
							color: $color-white;
						}
					}
				}
			}
		}

		.header-actions {
			display: flex;
			align-items: center;
			width: 285px;
			justify-content: space-between;

			.header-actions__select {
				background-color: inherit;
				border: none;
				color: $color-white;
				cursor: pointer;
			}

			.header-actions__button_login {
				background-color: inherit;
				border: none;
				color: $color-white;
				cursor: pointer;
			}

			.header-actions__button_sign_up {
				@include primary-button;
			}
		}
	}
}