@import "../constants.scss";
@import "../mixins.scss";
@import "../animations.scss";

.header-wrapper {
	padding-top: 30px;

	@include for-phone-only {
		padding-top: 20px;
	}

	.header-content {
		width: $content-width;
		margin: 0 auto;
		display: flex;
		align-items: center;
	
		justify-content: space-between;

		@include for-phone-only {
			width: 90vw;
		}

		.header-nav {
			display: flex;
			align-items: center;

			@include for-phone-only {
				justify-content: space-between;
				width: 100%;
			}

			.header-nav__logo {
				margin-right: 76px;
			}
	
			.header-nav-wrapper {
				display: flex;
				align-items: center;
				width: 382px;
				justify-content: space-between;

				@include for-phone-only {
					display: none;
				}
	
				.header-nav-wrapper__item {
					@include appearing-from-left-to-right-animation(8s, ease-in-out);
	
					a {
						color: $color-purple-light;
	
						&:hover {
							color: $color-white;
						}
					}
				}
			}

			.header-mobile-nav-wrapper {
				display: none;
				cursor: pointer;

				@include for-phone-only {
					display: block;
				}
			}
		}

		.header-actions {
			@include appearing-from-left-to-right-animation(4s, ease-in-out);

			display: flex;
			align-items: center;
			width: 285px;
			justify-content: space-between;

			@include for-phone-only {
				display: none;
			}

			.header-actions__select {
				background-color: inherit;
				border: none;
				color: $color-white;
				cursor: pointer;
			}

			.header-actions__button_login {
				background-color: inherit;
				border: none;
				color: $color-white;
				cursor: pointer;
			}

			.header-actions__button_sign_up {
				@include primary-button;
			}
		}
	}
}