@import "../constants.scss";
@import "../mixins.scss";

.main-wrapper {
	padding-top: 95px;
	background-color: $color-purple-medium;

	.main-content {
		width: 1140px;
		margin: 0 auto;
		display: flex;
		align-items: center;
	
		justify-content: space-between;

		.main-content-information {
			display: flex;
			flex-direction: column;
			width: 460px;
			color: $color-white;

			.main-content-information-text {

				.main-content-information__title {
					font-weight: bold;
					font-size: 50px;
					line-height: 60px;
					margin-bottom: 40px;
				}

				.main-content-information__title_highlight {
					color: $color_gold;
				}

				.main-content-information__caption {
					line-height: 25px;
					margin-bottom: 40px;
				}

			}

			.main-content-information-payments {
				display: flex;
				justify-content: space-between;
				width: 290px;

				.main-content__numbers {
					font-weight: bold;
					font-size: 50px;
					line-height: 60px;

					background: -webkit-linear-gradient(left, $color_gold , $color_gold_dark);
					background: -o-linear-gradient(right, $color_gold, $color_gold_dark);
					background: -moz-linear-gradient(right, $color_gold, $color_gold_dark);
					background: linear-gradient(to right, $color_gold , $color_gold_dark); 
				 -webkit-background-clip: text;
				 -webkit-text-fill-color: transparent;
				}
			}
		}

		.main-content-application {
			color: $color-white;

			.application-wrapper {
				width: 605px;
				height: 425px;
				padding: 14px;
				
				background: $color_midnightblue-100;
				border-radius: 23px;

				.application-header {
					margin-bottom: 12px;
				}

				.application-content {
					display: flex;
					justify-content: space-between;

					.application-diagram-wapper {
						width: 386px;
						height: 365px;
						background: $color_midnightblue-200;
						border-radius: 10px;
					}

					.application-actions-wrapper {
						width: 180px;
						height: 365px;
						
						background: $color_midnightblue-200;
						border-radius: 10px;
					}
				}
			}

		}
	}

}