@import "../constants.scss";
@import "../mixins.scss";

.sign-up-wrapper {
	color: $color-midnightblue-200;
	margin: 110px 0 0;
	position: relative;
  top: 20px;

	.sign-up-content {
		width: $content-width;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.sign-up-content__title {
			font-weight: bold;
			font-size: 40px;
			line-height: 55px;
			width: 455px;

			.sign-up-content__title-highlighted {
				color: $color-gold;
			}
		}

		.sign-up-window {
			width: 555px;
			height: 160px;
			padding: 55px;

			background-color: $color-midnightblue-200;
			border-radius: 20px;

			.sign-up-window-form {
				display: flex;
				justify-content: space-between;

				.sign-up-window-form__input {
					width: 280px;
					height: 50px;
					font-size: 15px;
					line-height: 20px;
					color: $color-white;
					font-weight: normal;
					opacity: 0.7;

					border: 1px solid $color-white;
					padding: 16px 25px;
					box-sizing: border-box;
					border-radius: 10px;
					background-color: inherit;

					&::placeholder {
						color: $color-white;
					}
				}

				input:-webkit-autofill  {
					-webkit-text-fill-color: $color-white !important;
					-webkit-box-shadow: 0 0 0 30px $color-midnightblue-200 inset !important;
				}

				.sign-up-window-form__button {
					@include primary-button;
					padding: 16px 40px;
				}
			}
		}
	}
}